python-telegram-bot==20.7
gspread==6.0.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
Pillow==10.2.0
pytesseract==0.3.10
opencv-python==4.9.0.80
numpy==1.24.4
python-dotenv==1.0.0
pandas==2.2.0
